/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em .25em .25em 0;
	padding: .85em 1.25em;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	background-color: var(--Red);
	font-family: 'Work Sans';
	text-decoration: none;
	text-align: center;
	color: var(--White);
	outline: none;
	transition: all .35s linear;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--RedDark);
	}

	&.load-more {
		display: none;
		margin: var(--SpacingLarge) auto;
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-blue {
		background-color: var(--Blue);
		background-clip: padding-box;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--BlueDark);
		}
	}

	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .35em .875em;
	}

	&.is-large {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}