/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Work Sans Semi';
	src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Roboto Medium';
	font-weight: normal;
	margin: 1em 0 .5em 0;
}

h1 {
	font-size: 55px;

	&+h2 {
		font-size: 26px;
		font-family: 'Work Sans';
	}
}

h2 {
	font-size: 32px;

	&+h3 {
		font-size: 22px;
		font-family: 'Work Sans';
	}
}

h3 {
	font-size: 20px;

	&+h4 {
		font-size: 18px;
		font-family: 'Work Sans';
	}
}

h4 {
	font-size: 16px;
	margin: 2em 0 .5em auto;

	&+h5 {
		font-size: 16px;
		font-family: 'Work Sans';
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 3px;
	max-width: 60%;
	margin: 64px auto;
	background-color: var(--Blue);
}

p,
span,
time,
address,
nav,
ul,
ol {
	font-family: 'Work Sans';
	font-size: 1em;
	line-height: 1.5;
}

p {
	margin: .5em 0 1.25em;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	background-image: url(../images/bullet.svg);
	background-size: .75em;
	background-repeat: no-repeat;
	background-position: top .35em left;
	padding-left: 1.75em;
	margin-bottom: .5em;
}

ol li {
	margin-bottom: .5em;
}

strong,
b {
	font-family: 'Work Sans Semi';
}

p a {
	font-size: inherit;
	color: var(--Blue);

	&:hover,
	&:focus {
		color: var(--BlueDark);
	}
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--Black);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Black);
		font-size: 1.15em;

		&:last-of-type {
			color: var(--GreyDark);
			font-family: 'Work Sans Semi';
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}