/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.bh2wp * {
	box-sizing: border-box;
	font-family: 'Work Sans', arial !important;
}
.bh2wp .bh2wp-table td {
	/*border: 1px solid #ccc;*/
	display: block;
	margin-bottom: 8px;
}
#bh2wp-main {
	border: 1px solid #1e2348;
	border-radius: 5px;
	padding: 30px;
}
input#filterKeyword {
	padding: 9px;
}
.bh2wp #jobsTable_filter,
.bh2wp #jobsTable thead,
.bh2wp #jobsTable_info {
	display: none !important;
}
.bh2wp .bh2wp-table td,
.bh2wp .bh2wp-table {
	padding: 0px;
	background: #f8f8f8;
}
.bh2wp .bh2wp-table h3 {
	margin: 0px;
}
.bh2wp .bh2wp-table .bh2wp-section:hover {
	background: #eee;
}
.bh2wp .bh2wp-table .bh2wp-selected {
	background: #fff !important;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.bh2wp .bh2wp-table td > h3 {
	padding: 20px 30px 0px 20px;
	cursor: pointer;
	color: #4b4c57;
	font-size: 20px;
	font-weight: 700;
	font-family: "Roboto", arial;
}
.bh2wp .bh2wp-table td > small,
.bh2wp .bh2wp-table td > h3 {
	position: relative;
	z-index: 1;
}
.bh2wp .bh2wp-table td>span {
	font-family: "Work Sans", arial;
	font-size: 14px;
	font-weight: 400;
}
.bh2wp h3 {
	font-size: 20px;
	color: #222;
	margin: 0 0 25px 0;
	padding: 0;
	font-weight: bold;
}
.bh2wp #successMessage {
	/*padding: 32px 0;*/
	padding: 20px 0 10px 0;
}
.bh2wp #successMessage h1 {
	font-size: 23px;
    color: #222;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: inherit;
    font-weight: bold;
    color: #4b4c57;
    font-family: "Roboto", arial;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
}
.bh2wp .bh2wp-table td > span {
	padding: 0px 20px 20px 20px;
	cursor: pointer;
	display: block;
	font-size: 14px;
}
.bh2wp .bh2wp-table td small {
	font-size: 15px;
	font-weight: bold;
	color: #222;
}
.bh2wp .bh2wp-table .bh2wp-apply,
.bh2wp .bh2wp-table .bh2wp-view {
	/*padding: 10px 10px 10px 10px;*/
	padding: 20px;
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
}
.bh2wp .bh2wp-table .bh2wp-view * {
/* 	font-family: inherit !important; */
    font-size: 14px !important;
}
.bh2wp .bh2wp-table .bh2wp-view ul {
	margin: 10px 0px 10px 0px !important;
	padding: 0px !important;
}
.bh2wp .bh2wp-table .bh2wp-view ul li {
	line-height: 22px !important;
	padding: 0 0 0 20px !important;
	margin: 0px !important;
	list-style-type: none !important;
}
.bh2wp .bh2wp-table .bh2wp-view ul li p {
	margin: 0px !important;
}
.bh2wp .bh2wp-table .bh2wp-view {
	font-family: "Work Sans";
}
.bh2wp .bh2wp-table .bh2wp-view p {
	padding: 0px !important;
}
.bh2wp .bh2wp-buttons {
	margin: 0;
	border-top: 1px solid #ccc;
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px 0 0px 0;
	text-align: center;
	margin-top: 20px;
}
.bh2wp a#thanksCancelBtn,
.bh2wp .bh2wp-view .bh2wp-buttons a {
    display: inline-block;
    margin: 0 8px;
    width: 138px;
    padding: 12px;
    border: 1px solid #8a8c9b;
    outline: 0 !important;
    border-radius: 22px;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 16px !important;
}
.bh2wp a#thanksCancelBtn {
	border: 0px !important;
	background: #326dfb !important;
	display: block !important;
	margin: 18px auto 0 auto !important;
	font-family: "Work Sans";
	width: 138px;
}
.bh2wp a#thanksCancelBtn:hover,
.bh2wp .bh2wp-buttons a:hover {
	opacity: 0.8;
}
.bh2wp .bh2wp-buttons td {
	padding: 0px;
	border: 0px;
	text-align: center;
}
.bh2wp .bh2wp-buttons td a img {
	display: inline;
	vertical-align: middle;
}
.bh2wp .bh2wp-buttons td a {
	display: block;
	text-decoration: none !important;
	padding: 20px 0;
	background: #eee;
	border: 1px solid #ddd;
	box-shadow: none;
	color: #222;
	text-transform: uppercase;
	font-size: 16px;
	margin: 5px;
}
.bh2wp .bh2wp-buttons td a:hover {
	opacity: 0.8;
}
.bh2wp .bh2wp-buttons td a.centerButton {
	margin-left: 0px;
	margin-right: 0px;
}
/*.bh2wp .bh2wp-apply,*/
/*.bh2wp .bh2wp-buttons,*/
.bh2wp .bh2wp-view {
	display: none;
}
.bh2wp .bh2wp-view {
	background: #fff;
}
.bh2wp .bh2wp-apply form {
	margin: 0;
}
.bh2wp input[type="email"],
.bh2wp select,
.bh2wp input[type="file"],
.bh2wp input[type="text"],
.bh2wp input[type="tel"] {
	margin: 0 0 15px 0;
	width: 100%;
	padding: 8px 10px;
	font-size: 14px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #ccc;
	outline: none !important;
}
.bh2wp .bh2wp-buttons td a.bh2wp-current {
	background: #222;
	color: #f2f2f2;
}
.bh2wp li,
.bh2wp ul {
	list-style-position: inside;
}
.bh2wp p,
.bh2wp ul {
	margin: 0 0 10px 0;
}
.bh2wp .searchingDiv,
.bh2wp .sortingDiv {
	/*width: 100%;*/
	/*margin-bottom: 20px;*/
	float: left;
}
.bh2wp .searchingDiv {
	width: 60%;
}
.bh2wp .sortingDiv {
	width: 40%;
}

.bh2wp .searchingDiv > div,
.bh2wp .sortingDiv > div {
	float: left;
}
.bh2wp .sortingDiv > div,
.bh2wp .searchingDiv > div {
	width: 50%;
}
.bh2wp .searchingDiv .searchByLocation {
	padding-left: 20px;
}
.bh2wp .sortingDiv > div {
	padding-left: 20px;
}
.bh2wp .newOption {
	line-height: 22px;
	width: 100%;
	display: block;
	float: left;
	padding: 0;
	margin-bottom: 20px;
}
.bh2wp .newOption input {
	margin-left: 0px !important;
}
.bh2wp .totalCount {
	display: block;
	width: 100%;
	float: left;
}
.bh2wp .totalCount h3 {
	text-align: left;
	margin: 0 0 25px 0;
	color: #002d68;
	font-family: "Roboto", arial;
	font-size: 20px;
	font-weight: 700;
}
#bh2wp-apply-now-form-backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	background: rgba(28, 34, 71, 0.2);
}
#bh2wp-apply-now-form {
	position: fixed;
    max-width: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -150px;
    background: #fff;
    padding: 20px 40px;
    border: 1px solid #ccc;
    /*box-shadow: 0px 0px 240px 21px #000;*/
    box-shadow: 0 0 100px 10px rgba(15, 37, 91, 0.24);
    z-index: 999999;
    font-size: 14px;
    display: none;
}
#bh2wp-apply-now-form.increase-height {
	margin-top: -378px;
}
#bh2wp-apply-now-form .bh_col_3 {
	width: 33.3%;
	float: left;
}
#bh2wp-apply-now-form .bh_col_3.middlePad {
	padding-left: 15px;
	padding-right: 15px;
}
#bh2wp-apply-now-form .bh_col_2 {
	float: left;
	width: 50%;
}
#bh2wp-apply-now-form .bh_col_2.rightPad {
	padding-right: 15px;
}
#bh2wp-main table.dataTable#jobsTable.no-footer {
	border: 0px !important;
}
.bh2wp-buttons table {
	width: 100%;
}
.bh2wp-section {
	position: relative;
}
.bh2wp-section:after {
	content: '';
	position: absolute;
	right: 0px;
	width: 20px;
	height: 20px;
	background-image: url(../partials/images/down-arrow.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: 20px;
	top: 34px;
    right: 20px;
    z-index: 0;
    transition: all ease 0.3s;
}
.bh2wp-section.bh2wp-selected:after {
	transform: rotate(180deg);
}
.bh2wp input[type="submit"] {
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 138px;
    padding: 12px;
    background: #326dfb;
    outline: 0 !important;
    border-radius: 22px;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    border: 0px !important;
}
.bh2wp input[type="submit"]:hover {
	opacity: 0.8;
}
.bh2wp .subscribeDiv {
	background: #f8f8f8;
    padding: 15px;
    margin-bottom: 30px;
	border-radius: 5px;
}
.bh2wp .subscribeDiv input[type="email"],
.bh2wp .subscribeDiv input[type="text"]{
	width: 100%;
    float: left;
    margin: 4px 0 0 0;
}
.bh2wp .subscribeDiv a#showSubscribeFormCancel,
.bh2wp .subscribeDiv input[type="submit"]{
	width: 100px;
	float: left;
	margin: 20px 10px 0 0;
	padding: 12px;
	font-size: 16px;
	border: 1px solid #8a8c9b !important;
	outline: none !important;
	display: block;
	border-radius: 22px;
	text-align: center;
}
.bh2wp .subscribeDiv input[type="submit"] {
	color: #fff;
	background: #ef0e40;
	border-color: #ef0e40 !important;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.bh2wp .subscribeDiv input[disabled="disabled"] {
	opacity: 0.1;
}
.bh2wp .subscribeDiv a#showSubscribeFormCancel {
	font-family: 'Work Sans', arial;
	color: #8a8c9b;
	text-decoration: none;
	background: transparent;
}
.bh2wp .subscribeDiv h3 {
    font-size: 24px;
    /*padding: 12px 0;*/
    line-height: 40px;
    text-align: left;
    margin: 0;
    /*float: left;*/
    color: #000;
}
.bh2wp .subscribeDiv form {
	/*float: left;*/
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 20px 0 0 0;
}
.bh2wp .subscribeDiv .subsMainBtn {
	width: 105px;
	font-family: 'Work Sans', arial;
	position: absolute;
	right: -15px;
	top: -15px;
	border-radius: 0 5px 5px 0;
	background-color: rgba(179, 188, 210, 0.1);
	color: #4b4c57;
	font-size: 14px;
	font-weight: bold;
	padding: 18px 0;
}
.bh2wp .subscribeDiv .subsMainBtn:hover {
	background-color: rgba(50, 109, 251, 0.1);
	color: #326dfb;
}
.bh2wp .subscribeDiv > a {
	font-size: 14px;
/*     text-transform: uppercase; */
    color: #000;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
/*     float: right; */
    text-decoration: none !important;
    position: relative;
}
#countNumber {font-weight: bold;}
#subscribeForm small,
.bh2wp-apply small {
    font-size: 14px;
    font-family: "Work Sans";
    display: block;
    margin-bottom: 6px;
}
.bh2wp table.dataTable td.dataTables_empty {
    padding: 10px 0;
    font-family: "Work Sans";
}
.bh2wp_unsubscribe_shortcode_form input[type="submit"] {
	cursor: pointer;
}
.bh2wp_unsubscribe_shortcode_form input[type="submit"]:hover {
	opacity: 0.8;
}
.bh2wp #subscribeForm > div > div {
	width: 50%;
	float: left;
}
.bh2wp .subscribeDiv.successSubscribed {
	background: rgba(50, 109, 251, 0.1);
}
.bh2wp input[type=file]:before {
	display: none;
}
.bh2wp input[type=file] {
	color: #000;
	margin-bottom: 0px;
}
.bh2wp input[type=file]::-webkit-file-upload-button {
	/*visibility: visible;*/
	display: none;
}
.bh2wp a#popUpCloseBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
    background: #f4f3f3;
    padding: 3px 7px;
    border-radius: 20px;
}
.bh2wp a#popUpCloseBtn:hover {
	background: #326dfb;
}
.bh2wp a#popUpCloseBtn:hover img {
    filter: brightness(100);
}
.bh2wp .showToggleText {
	display: none !important;
}
.bh2wp_unsubscribe_shortcode_form {
	margin-bottom: 135px !important;
}
.bh2wp label {
    font-weight: 900;
    margin-bottom: 5px;
    color: #8a8c9b;
}
.bh2wp label:before {
	display: none;
}
.bh2wp label.optional:before {
	display: inline;
	color: #8a8c9b;
	font-size: 11px;
	font-weight: 500;
}
.bh2wp input[type=file]:after {
    content: 'Drag a file here to upload, or click to select one';
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    color: #326dfb;
}
.bh2wp input[type=file] {
    color: #000;
    -webkit-appearance: none;
    position: relative;
    min-height: 50px;
    padding: 15px;
    border: 1px dashed #326dfb;
    opacity: 0;
    z-index: 99;
    position: relative;
}
.bh2wp .resumeInput {
    color: #000;
    position: relative;
    border: 1px dashed #326dfb;
    border-radius: 4px;
    height: 52px;
    cursor: pointer;
}
.bh2wp .resumeInput:after {
    cursor: pointer;
    content: 'Drag a file here to upload, or click to select one';
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    color: #326dfb;
    top: 16px;
}
@media (max-width: 1024px) {
	#bh2wp-main table.dataTable#jobsTable.no-footer {
		width: 100% !important;
	}
}
@media (max-width: 820px) {
	#bh2wp-main table.dataTable#jobsTable.no-footer {
		width: 100% !important;
	}
	.bh2wp .bh2wp-table td>h3 {
		padding: 10px 10px 0 10px;
	}
	.bh2wp .bh2wp-table td>span {
		padding: 0 10px 10px 10px;
	}
	.bh2wp-section:after {
		top: 24px;
		width: 14px;
    	height: 14px;
    	background-size: 14px;
    	right: 10px;
	}
	.bh2wp .bh2wp-table .bh2wp-apply, .bh2wp .bh2wp-table .bh2wp-view {
		padding: 10px;
	}
	.bh2wp .bh2wp-buttons {
		margin-left: -10px;
		margin-right: -10px;
		padding-top: 10px;
	}
	.bh2wp .searchingDiv {
		width: 100%;
	}
	.bh2wp .sortingDiv {
		width: 60%;
	}
	.bh2wp .newOption {
		width: 40%;
	    line-height: 40px;
	    padding-left: 20px;
	    padding-top: 15px;
	}
	.bh2wp .sortingDiv>div:first-child {
		padding-left: 0px;
	}
	#bh2wp-apply-now-form {
		padding: 20px 10px;
	}
	#bh2wp-main {
		padding: 0px;
		border: 0px;
	}
	.bh2wp .bh2wp-table .bh2wp-view ul {
		margin-left: 0px !important;
	}
	.bh2wp .bh2wp-logo {
		display: none;
	}
	#bh2wp-apply-now-form .bh_col_3 {
		width: 50%;
		padding-right: 7.5px;
	}
	#bh2wp-apply-now-form .bh_col_3.middlePad {
		padding-right: 0px;
		padding-left: 7.5px;
	}
	.emailSec {
		width: 50%;
		float: right;
		margin-top: -70px;
		padding-left: 7.5px;
		height: 54px;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_3 {
		width: 50%;
		padding: 0;
		min-height: 72px;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_3.middlePad {
		padding-right: 0px;
		padding-left: 0;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .emailSec {
		padding-left: 0;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec > div:not(.bh_row),
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_2 {
		padding: 0px !important;
		width: 50% !important;
		min-height: 72px;
		float: left;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec .bh_row {
		display: inline;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec .bh_row br {
		display: none;
	}
	body #bh2wp-apply-now-form .bh2wp-application-form div.mobpad:not(.bh_row) {
		padding-left: 15px !important;
	}
}
@media (max-width: 420px) {
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_3 {
		width: 100%;
		padding: 0;
		min-height: auto;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_3.middlePad {
		padding-right: 0px;
		padding-left: 0;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .emailSec {
		padding-left: 0;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec > div:not(.bh_row),
	#bh2wp-apply-now-form .bh2wp-application-form .bh_col_2 {
		padding: 0px !important;
		width: 100% !important;
		min-height: auto;
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec .bh_row {
		/*display: inline;*/
	}
	#bh2wp-apply-now-form .bh2wp-application-form .mobileResSec .bh_row br {
		/*display: none;*/
	}
	body #bh2wp-apply-now-form .bh2wp-application-form div.mobpad:not(.bh_row) {
		padding-left: 0px !important;
	}
	.emailSec {
		height: auto;
		width: 100%;
		float: none;
		padding: 0px;
		margin-top: 0px;
	}
	.bh2wp .sortingDiv, .bh2wp .newOption,
	.bh2wp .sortingDiv>div, .bh2wp .searchingDiv>div {
		width: 100%;
		padding: 0px !important
	}
	.bh2wp .subscribeDiv h3,
	.bh2wp .bh2wp-table td>h3 {
		font-size: 16px !important;
	}
	.bh2wp .subscribeDiv .subsMainBtn {
		width: 100px;
	}
	.bh2wp-section:after {
		display: none;
	}
	.bh2wp .showToggleText {
		display: inline-block !important;
		font-size: 12px !important;
		font-weight: 700 !important;
		color: #326dfb !important;
		font-family: 'Roboto', arial !important;
	}
	.bh2wp a#thanksCancelBtn,
	.bh2wp .bh2wp-view .bh2wp-buttons a {
		font-size: 15px !important;
		width: 124px;
	}
	.bh2wp .bh2wp-buttons {
		padding-top: 15px;
	}
	.bh2wp #subscribeForm > div > div {
		width: 100%;
		padding: 0px !important;
		margin: 0px !important;
	}
	.bh2wp #subscribeForm > div > div:nth-child(2) {
		margin-top: 10px !important;
	}
	.bh2wp input[type="email"], .bh2wp select, .bh2wp input[type="file"], .bh2wp input[type="text"], .bh2wp input[type="tel"] {
		margin-bottom: 5px;
	}
	#bh2wp-apply-now-form .bh_col_2,
	#bh2wp-apply-now-form .bh_col_3 {
		width: 100% !important;
		padding: 0 !important;
	}
	.bh2wp input[type="submit"] {
		margin-top: 10px;
	}
	.bh2wp .subscribeDiv a#showSubscribeFormCancel, .bh2wp .subscribeDiv input[type="submit"] {
		float: none;
		display: inline-block;
	}
	.bh2wp #subscribeForm>div>div[style="width: 100%"] {
		text-align: center;
	}
	.bh2wp input[type=file]:after {
	    content: 'Drag a file here to upload, or click to select one';
	    width: 220px;
	    text-align: center;
	    position: absolute;
	    left: 0;
	    right: 0;
	    color: #326dfb;
	    top: 8px;
	    margin: 0 auto;
	}
}
@media (max-width: 400px) {
	.bh2wp label {
		font-size: 11px;
	}
}
@media (max-width: 359px) {
	.bh2wp .subscribeDiv h3 {
		font-size: 14px !important;
	}
}
@media (max-height: 820px) {
	#bh2wp-apply-now-form.increase-height {
		height: 100%;
		overflow-y: scroll;
		margin-top: 0px;
		top: 0%;
	}
}