/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: #1E2348;
	color: var(--White);
	padding: var(--SpacingSmall) 0;

	&>section {
		max-width: var(--WidthLarge);
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		& a {
			color: var(--White);
			text-decoration: none;
			font-size: .875em;
		}

		&>div {
			width: 48%;
			margin-bottom: 2em;

			@media(--800vp) {
				width: 14%;
			}

			&:first-child,
			&:last-child {
				width: 100%;

				@media(--500vp) {
					width: 48%;
				}

				@media(--800vp) {
					width: 25%;
				}
			}

			&:nth-child(1) {
				order: 3;

				& a {
					font-size: 1em;
				}

				@media(--800vp) {
					order: 1;
				}
			}

			&:nth-child(2) {
				display: none;

				@media(--800vp) {
					order: 1;
					display: inline-block;
				}
			}

			&:nth-child(3) {
				order: 1;

				@media(--800vp) {
					order: 1;
				}
			}

			&:nth-child(4) {
				order: 2;

				@media(--800vp) {
					order: 1;
				}
			}

			&:nth-child(5) {
				order: 4;

				@media(--800vp) {
					order: 1;
				}
			}

			& img {
				height: auto;
				width: 100%;
				max-width: 220px;
			}

		}

		& .widgettitle {
			margin-top: 0;
		}

		& .widget_nav_menu ul {
			display: block;

			& li {
				& a {
					padding: 0;
					line-height: 2;
				}
			}
		}
	}

	& .copyright {
		max-width: var(--WidthLarge);
		width: 90%;
		margin: var(--SpacingLarge) auto 0 auto;
		position: relative;

		& .legal {
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			&>div {
				width: calc(100% - 100px);
			}

			& p {
				margin: 0;
				line-height: 2em;
				text-align: center;
				display: inline;
				font-size: .875em;

				@media(--500vp) {
					text-align: left;
				}
			}

			& ul {
				display: inline-flex;
				margin: 0 0 0 1em;
				font-size: .875em;

				& li {
					padding: 0;
					background-image: none;
					margin-right: 1em;

					& a {
						color: var(--White);
						text-decoration: none;

						&:hover,
						&:focus {
							color: var(--Blue);
						}
					}
				}
			}

			& nav {
				margin: 0 auto;

				& a {
					text-decoration: none;

					& svg {
						width: 20px;
						height: 20px;
						margin-left: .5em;
						fill: var(--White);
					}
				}
			}
		}
	}
}

#element5-credit {
	text-align: center;
	overflow: hidden;

	@media(--500vp) {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(calc(-100% - 25px));
	}

	& img {
		transform: translateX(100%);
		transition: all .35s linear;
	}

	&[data-emergence=visible] img {
		transform: translateX(0);
	}
}

button.back-to-top {
	padding: 12px;
	position: fixed;
	z-index: 100000;
	bottom: -56px;
	right: 16px;
	margin: 0;


	&.is-active {
		bottom: 16px;
	}

	& svg {
		fill: white;
		width: 24px;
		height: 24px;
		display: block;
	}
}