/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/
.header-wrap {
	display: flex;
	flex-wrap: wrap;

	&>div {
		width: 100%;
		margin-bottom: var(--SpacingLarge);

		@media(--1050vp) {
			width: 50%;
			margin-top: 100px;
			margin-bottom: var(--SpacingLarge);
			background-color: #000;
		}

		& iframe {
			width: 100%;
			height: 100%;

			@media(--500vp) {
				height: 300px;
			}

			@media(--1050vp) {
				height: 100%;
			}
		}
	}
}

header.page-title {
	width: 100%;
	height: auto;
	min-height: 400px;
	margin-top: 100px;
	margin-bottom: var(--SpacingLarge);
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-color: var(--GreyLight);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&.has-video {
		width: 100%;

		@media(--1050vp) {
			width: 50%;
		}
	}

	&>section {
		position: relative;
		width: 90%;
		max-width: var(--Width);
		z-index: 3;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h1 {
			margin-bottom: 0;
		}

		& p {
			margin-top: .5em;
			font-size: 1.5em;
		}
	}

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #1E2348;
		opacity: .75;
	}
}

/*----------------------------------------------------------------*\
	PAGE TITLE SLIDERS
\*----------------------------------------------------------------*/
header.page-title.is-slider {
	display: block;

	& .title-slide {
		width: 100%;
		height: auto;
		min-height: 400px;
		align-items: center;
		display: inline-flex !important;
		position: relative;
		color: var(--White);
		background-color: var(--GreyLight);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		& section {
			max-width: var(--Width);
			width: 90%;
			position: relative;
			z-index: 5;

			& h1 {
				margin-bottom: 0;
			}

			& p {
				margin-top: .5em;
			}
		}
	}

	& .slick-dots {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			padding: 0;
			background-image: none;
		}

		& button {
			background-color: var(--White);
			border: none;
			text-indent: -10000px;
			overflow: hidden;
			border-radius: 0;
			width: 40px;
			margin-right: 1em;
			height: 6px;
			padding: 0;
			opacity: .3;

			@media(--500vp) {
				width: 80px;
			}
		}

		& .slick-active button {
			opacity: .9;
		}

		& li:last-child button {
			margin-right: 0;
		}
	}
}