/*----------------------------------------------------------------*\
	NEWSLETTER FORM
\*----------------------------------------------------------------*/
section.newsletter {
	background-image: url('../images/newsletter-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: var(--SpacingMedium) 0;
	margin-top: var(--SpacingLarge);

	&>div {
		max-width: var(--WidthSmall);
		width: 90%;
		margin: 0 auto;

		& h2 {
			text-align: center;
		}

		& form {
			& input:focus {
				border-color: var(--Black);
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}