/*----------------------------------------------------------------*\
	TEAM
\*----------------------------------------------------------------*/
section.team {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& article {
			width: 48%;
			margin-bottom: var(--SpacingMedium);
			position: relative;
			margin: 0 4% 2.5em 0;

			&:nth-child(even) {
				margin: 0 0 2.5em 0;
			}

			@media(--500vp) {
				width: 28%;
				margin: 0 8% 2.5em 0;

				&:nth-child(even) {
					width: 28%;
					margin: 0 8% 2.5em 0;
				}

				&:nth-child(3n) {
					margin: 0 0 2.5em 0;
				}
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& h3 {
				margin-bottom: .25em;
				transition: all .15s linear;
			}

			& p {
				margin: 0;
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover,
			&:focus {
				& h3 {
					color: var(--Blue);
				}
			}
		}
	}
}