/*----------------------------------------------------------------*\
	STANDARD WYSIWYG EDITOR
\*----------------------------------------------------------------*/

section.testimonials-block {
	background-color: var(--GreyLight);
	padding: var(--SpacingLarge) 0;
	margin: var(--SpacingMedium) 0;

	&>div {
		max-width: var(--Width);
		width: 80%;
		margin: 0 auto;

		@media(--500vp) {
			width: 90%;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& .testimony {
			padding: 0 var(--Spacing);

			& hr {
				max-width: 150px;
				margin: 1.25em 0 .5em;
			}

			& p:last-child,
			& p:nth-last-child(2) {
				margin: 0;
			}

			& p:last-child {
				font-size: .875em;
			}
		}
	}
}

.slick-arrow {
	height: 28px;
	width: 28px;
	padding: 0;
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	text-indent: -10000px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	z-index: 10;
	transition: all .1s linear;


	&.slick-next {
		background-image: url(../images/arrow-right.svg);
		right: -28px;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			right: -35px;
		}
	}

	&.slick-prev {
		background-image: url(../images/arrow-left.svg);
		left: -28px;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			left: -35px;
		}
	}
}