/*----------------------------------------------------------------*\
	STANDARD WYSIWYG EDITOR
\*----------------------------------------------------------------*/

section.wysiwyg-block {
	max-width: var(--Width);
	width: 90%;
	margin: var(--Spacing) auto;
}

/*----------------------------------------------------------------*\
	TWO COLUMN WYSIWYG EDITOR
\*----------------------------------------------------------------*/

section.wysiwyg-block.has-two-col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	& h2 {
		width: 100%;
	}

	&>div {
		width: 100%;

		@media(--800vp) {
			width: 48%;
		}
	}
}