/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--WidthSmall: 650px;
	--Width: 960px;
	--WidthLarge: 1300px;
	--SpacingSmall: 20px;
	--Spacing: 32px;
	--SpacingMedium: 40px;
	--SpacingLarge: 64px;
	/* COLORS */
	--Red: #F2003B;
	--RedDark: #C1002F;
	--BlueLight: #A3BDFF;
	--Blue: #2D68FF;
	--BlueDark: #1f4dc5;
	--White: #FFFFFF;
	--GreyLight: #F4F3F3;
	--Grey: #8A8C9B;
	--GreyDark: #8A8C9B;
	--Black: #4B4C57;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:target {
	padding-top: 164px !important;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

iframe {
	max-width: 100%;
}

section {

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/

section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child:not(hr) {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article>section:last-child {
	margin-bottom: var(--SpacingLarge);
}

article>section.newsletter:last-child {
	margin-bottom: 0;
}