/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

main,
article {
	position: relative;
}

/*----------------------------------------------------------------*\
	SIDEBAR
\*----------------------------------------------------------------*/
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& article {
		width: 100%;
		max-width: 678px;

		@media(--500vp) {
			width: calc(100% - 282px);
		}

		&:only-child {
			width: 100%;
			max-width: 100%;
		}

		&>*:first-child {
			margin-top: 0;
		}
	}

	& aside {
		width: 250px;
		margin-bottom: var(--Spacing);
	}
}

/*----------------------------------------------------------------*\
	404 & THANK YOU
\*----------------------------------------------------------------*/

body.page-template-confirmation article,
body.error404 article {
	& section:first-child {
		margin-top: 125px;
		margin-bottom: 0;
	}

	& section:last-child {
		margin-bottom: var(--SpacingLarge);
	}

	& .cards-block {

		& h1 {
			margin: 0;

			&+p {
				margin-bottom: var(--SpacingLarge);
			}
		}

		& .cards {
			& .card {
				background-color: var(--GreyLight);
			}
		}
	}

	& .wysiwyg-block {
		& form {
			margin: 0;
			position: relative;

			& input {
				border-radius: 50px;
				padding: .75em 1em;
			}

			& button {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SEARCH RESULTS
\*----------------------------------------------------------------*/
body.search-results {
	& main>article {
		max-width: var(--Width);
		width: 90%;
		margin: var(--SpacingLarge) auto;

		& article.preview-search {
			width: 100%;
			margin: 0 1% var(--SpacingSmall) 0;
			position: relative;
			transition: all .15s linear;

			@media(--800vp) {
				width: 49.5%;
			}

			&:nth-child(even) {
				margin: 0 0 var(--SpacingSmall) 0;
			}

			& .icon {
				width: 60px;
				height: 60px;
				padding: 16px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: var(--GreyLight);
				float: left;
				transition: all .15s linear;

				& img {
					width: 100%;
				}
			}

			& h3 {
				padding-left: 70px;
				font-size: 1em;
				margin: 1em 0 .5em 0;
			}

			& p {
				padding-left: 70px;
				margin: 0;

				& span {
					color: var(--Blue);
				}
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover,
			&:focus {
				& .icon {
					background-color: var(--Blue);

					& img {
						filter: brightness(0) invert(1);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CRISIS STAFFING
\*----------------------------------------------------------------*/
.page-id-2642 {
	& hr {
		margin: 120px auto;
	}
}

#field_18_13 {
	margin-top: 16px;
}

#input_18_11_date_format,
#input_19_11_date_format,
#input_20_11_date_format {
	display: none;
}