/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FROM TEMPLATE

\*----------------------------------------------------------------*/
.page-template-form {

	& article,
	& article:only-child {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		max-width: var(--Width);
		width: 90%;

		&>section {
			width: 100%;

			@media(--500vp) {
				width: 46%;
			}
		}

		&>*:first-child,
		&>*:nth-child(2) {
			margin-top: 0;
		}
	}
}