/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/
.the-great-divide {
	width: 100%;
	max-width: 100%;
	margin: 75px 0 var(--SpacingLarge) 0 !important;
	display: flex;
	flex-wrap: wrap;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&>div {
		width: 100%;
		padding: 10px;
		position: relative;
		padding-bottom: 130px;

		@media(--500vp) {
			padding: var(--Spacing);
			padding-bottom: 130px;
		}

		@media(--800vp) {
			width: 50%;
		}

		&>div {
			margin: 0 auto;

			@media(--800vp) {
				max-width: 650px;
			}
		}

		&:first-child {
			background-color: rgba(30, 35, 72, 0.85);
		}

		&:last-child {
			background-color: rgba(30, 35, 72, 0.3);
		}

		& h2,
		& p {
			color: var(--White);
		}

		& h2 {
			font-size: 40px;

			@media(--500vp) {
				font-size: 55px;
			}
		}

		& .cards {
			& .card {
				width: 50%;
				min-width: 0;
				margin: 0 0 var(--SpacingSmall) 0;
				padding: 4px;
				background: transparent;

				@media(--500vp) {
					width: 25%;
					padding: var(--SpacingSmall);
				}

				@media(--800vp) {
					width: 50%;
				}

				@media(--1050vp) {
					width: 33%;
				}

				& .icon {
					width: 85px;
					height: 85px;
					padding: 10px;

					@media(--500vp) {
						width: 120px;
						height: 120px;
					}
				}

				& h3 {
					font-size: .9em;
					color: var(--White);
					margin-top: 1.5em;

					@media(--500vp) {
						font-size: 1.3em;
					}
				}

				&:last-child {
					background: transparent;
				}

				&:hover,
				&:hover:last-child {
					background-color: rgba(30, 35, 72, 0.5);
				}
			}
		}

		& .cta {
			width: 100%;
			text-align: center;
			position: absolute;
			bottom: var(--Spacing);
			left: 50%;
			transform: translateX(-50%);
		}
	}
}