/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE LICENSES TEMPLATE

\*----------------------------------------------------------------*/

section.licenses {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .license {
		padding: var(--SpacingSmall) 0;
		border-bottom: 1px solid #8A8C9B;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		@media(--500vp) {
			flex-wrap: initial;
		}

		& p {
			margin: 0;
		}

		& h3 {
			margin: .25em 0;
		}

		&>div:first-child {
			min-width: 200px;
			margin-right: var(--SpacingLarge);

			& p:first-child {
				font-family: 'Roboto Medium';
			}
		}

		&>div:last-child {
			margin-top: 1em;

			@media(--500vp) {
				margin-top: 0;
			}

			& p {
				color: var(--Grey);

				&:last-child {
					font-family: 'Roboto Medium';
				}
			}
		}
	}
}