/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE BLOG POST 

\*----------------------------------------------------------------*/

section.featured-img {
	position: relative;
	z-index: 2;
	padding-left: 0;
	padding-right: 0;

	& img {
		width: 100%;
		height: auto;
	}
}

#comments {
	padding: 0 3vw;
	max-width: var(--Width);
	margin: 0 auto;
}