/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE TEAM MEMBER POST

\*----------------------------------------------------------------*/
body.single-team {
	& aside {
		& img {
			width: 100%;
			height: auto;
		}

		& a {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1.5em;

			& img {
				width: 24px;
				height: 24px;
			}
		}
	}
}