/*----------------------------------------------------------------*\
	BASIC CARDS
\*----------------------------------------------------------------*/
.cards-block {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		& .card {
			width: 19%;
			min-width: 160px;
			margin: 0 1% var(--SpacingSmall) 0;
			padding: var(--SpacingSmall);
			background-color: var(--GreyLight);
			border-radius: 7px;
			text-align: center;
			position: relative;
			transition: all .15s linear;

			&.has-image {
				background-color: var(--White);
			}

			& .icon {
				width: 120px;
				height: 120px;
				padding: 10px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: var(--GreyLight);

				& img {
					width: 100%;
				}
			}

			& h3 {
				color: var(--Black);
				text-align: center;
				font-family: 'Roboto Regular';
				font-size: 1em;

				&:first-child {
					min-height: 130px;
					margin: 0;
					padding: 1em 0;
					display: flex;
					align-items: center;
				}
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			& .button {
				font-size: .8em;
				padding: .75em .75em;
			}

			&:hover,
			&:focus {
				background-color: var(--GreyLight);

				& p {
					color: var(--Blue);

					&:first-child {
						color: var(--Black);
					}
				}

				& .button {
					border-color: var(--RedDark);
					background-color: var(--RedDark);
				}
			}
		}
	}
}


/*----------------------------------------------------------------*\
	LINK CARDS
\*----------------------------------------------------------------*/
.link-cards {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& .card {
			width: 100%;
			margin: 0 0 var(--SpacingSmall) 0;
			position: relative;
			transition: all .15s linear;

			@media(--800vp) {
				width: 49.5%;
				margin: 0 1% var(--SpacingSmall) 0;
			}

			&:nth-child(even) {
				margin: 0 0 var(--SpacingSmall) 0;
			}

			& .icon {
				width: 60px;
				height: 60px;
				padding: 16px;
				margin: 0 auto;
				border-radius: 50%;
				background-color: var(--GreyLight);
				float: left;
				transition: all .15s linear;

				& img {
					width: 100%;
				}
			}

			& h3 {
				padding-left: 70px;
				font-size: 1em;
				margin: 1em 0 .5em 0;
			}

			& p {
				padding-left: 70px;
				margin: 0;
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover,
			&:focus {
				& .icon {
					background-color: var(--Blue);

					& img {
						filter: brightness(0) invert(1);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	LOGO CARDS
\*----------------------------------------------------------------*/
.logo-cards {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& .card {
			width: 100%;
			margin: 0 0 var(--SpacingLarge) 0;
			position: relative;
			transition: all .15s linear;

			@media(--500vp) {
				width: 48%;
				margin: 0 2% var(--SpacingLarge) 0;
			}

			&:nth-child(even) {
				margin: 0 0 var(--SpacingLarge) 0;
			}

			& .logo {
				width: 100%;
				height: 100px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;

				& img {
					max-height: 100%;
					max-width: 200px;
				}
			}

			& h3 {
				font-size: 1.25em;
				margin: 1em 0 .5em 0;
			}

			& p {
				margin: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	ICON CARDS
\*----------------------------------------------------------------*/
.icon-cards {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& .card {
			width: 100%;
			margin: 0 0 var(--SpacingLarge) 0;
			position: relative;
			transition: all .15s linear;

			@media(--500vp) {
				width: 48%;
				margin: 0 2% var(--SpacingLarge) 0;
			}

			&:nth-child(even) {
				margin: 0 0 var(--SpacingLarge) 0;
			}

			& .icon {
				width: 60px;
				height: 60px;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--GreyLight);
				border-radius: 50%;
				transition: all .15s linear;

				& img {
					width: 100%;
				}
			}

			& h3 {
				font-size: 1.25em;
				margin: 1em 0 .5em 0;
			}

			& p {
				margin: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	ICON LINKS
\*----------------------------------------------------------------*/
.icon-links {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& .links {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		& .link {
			width: 100%;
			margin: 0 0 0 0;
			border-radius: 7px;
			padding: 10px;
			margin-bottom: 8px;
			position: relative;
			display: flex;
			align-items: center;
			transition: all .15s linear;

			@media(--500vp) {
				width: 50%;
			}

			& img {
				width: 1.25em;
				height: 1.25em;
				margin-right: .5em;
				display: inline-block;
			}

			& h3 {
				color: var(--Grey);
				text-align: center;
				font-family: 'Roboto Medium';
				font-size: 1em;
				margin: 0;
			}

			& a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover,
			&:focus {
				background-color: var(--GreyLight);

				& h3 {
					color: var(--Black);
				}
			}
		}
	}
}