/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav,
.widget_nav_menu {
	& ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;
			background-image: none;
			padding: 0;
			margin: 0;

			& a {
				display: block;
				padding: .5em 1em;
				position: relative;
				text-decoration: none;
				color: var(--White);
				transition: all .15s linear;

				&:hover,
				&:focus,
				&:active {
					color: var(--Blue);
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				text-decoration: underline;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	box-shadow: 0 3px 5px 0 rgba(30, 35, 72, 0.3);
	background: var(--White);
	padding: var(--SpacingSmall) 8px;
	display: flex;
	justify-content: flex-start;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .35s linear;

	@media(--500vp) {
		padding: var(--SpacingSmall);
	}

	& a,
	& button {
		vertical-align: middle;
		display: inline-flex;
		align-items: center;
		margin-right: .75em;

		@media(--500vp) {
			margin-right: 2em;
		}
	}

	& button:last-of-type {
		margin-right: 0;
	}

	& a.home img {
		height: 38px;

		@media(--500vp) {
			height: 48px;
		}
	}

	& a.phone {
		margin-left: auto;
		height: 38px;
		width: 38px;
		padding: 4px;
		margin: .5em .75em .5em auto;

		@media(--500vp) {
			padding: .65em 1em;
			height: auto;
			width: auto;
			margin: .35em 2em .35em auto;
		}

		& span {
			display: none;

			@media(--500vp) {
				display: block;
			}
		}

		& img {
			display: block;
			height: 30px;

			@media(--500vp) {
				display: none;
			}
		}
	}

	& button.search-button,
	& button.menu-button {
		background-color: transparent;
		border: none;
		padding: 0;

		& img {
			height: 38px;

			@media(--500vp) {
				height: 48px;
			}
		}
	}

	& button.search-button {
		display: none;

		@media(--500vp) {
			display: block;
		}
	}

	& a.logo img {
		height: 40px;

		@media(--500vp) {
			height: 55px;
		}
	}

	& nav {
		position: fixed;
		background-color: var(--GreyLight);
		box-shadow: -3px 0 12px 0 rgba(30, 35, 72, 0.5);
		top: 0;
		right: 0;
		bottom: 0;
		width: 80%;
		max-width: 400px;
		color: var(--Black);
		z-index: 10000;
		transform: translateX(120%);
		transition: all .25s linear;

		&.is-active {
			transform: translateX(0);
		}

		& ul {
			display: block;

			&.sub-menu {
				padding-left: var(--SpacingSmall);
				max-height: 0;
				overflow: hidden;
				transition: all .35s linear;

				& li {
					& a {
						font-size: 1.2em;
					}
				}
			}
		}

		& li.is-active ul.sub-menu {
			max-height: 400px;
		}

		&>ul {
			display: block;
			width: calc(100% - 75px);
			margin: 1.25em auto;

			& li {
				&.is-active>a {
					color: var(--Blue);
				}

				&.menu-item-has-children {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 1.15em;
						width: .875em;
						height: .875em;
						background-image: url(../images/icon_menu_dropdown.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						z-index: -1;
					}
				}

				&:hover.menu-item-has-children::after,
				&.menu-item-has-children.is-active::after {
					background-image: url(../images/icon_menu_dropdown_active.svg);
				}

				&.menu-item-has-children.is-active::after {
					transform: rotate(180deg);
				}

				& a {
					color: var(--Black);
					font-size: 1.5em;
					padding: 8px 0;
					width: 100%;

					&:hover,
					&:focus,
					&:active {
						color: var(--Blue);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		SEARCH FORM
\*----------------------------------------------------------------*/
.navigation-block form {
	position: absolute;
	top: 50%;
	right: 100px;
	width: 0;
	transform: translateY(-50%);
	overflow: hidden;
	transition: all .15s linear;

	&.is-active {
		width: 375px;
	}

	& input {
		height: 48px;
		border-radius: 50px;
		background-color: var(--GreyLight);
		border-color: var(--GreyLight);
		padding: .5em 1em;
	}

	& button {
		background: transparent;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;

		&:hover,
		&:focus,
		&:active {
			background: transparent;
		}

		& img {
			width: 48px;
			height: 48px;
		}
	}
}

/*----------------------------------------------------------------*\
		BREADCRUMBS
\*----------------------------------------------------------------*/
nav.breadcrumbs {
	max-width: var(--WidthLarge);
	width: calc(100% - 20px);
	margin: var(--SpacingSmall) auto var(--SpacingLarge) auto;
	font-family: 'Roboto Medium';
	font-size: 22px;

	& a,
	& span {
		font-family: 'Roboto Regular';
		font-size: 18px;
		color: var(--GreyDark);
		text-decoration: none;
	}

	& a,
	& span.breadcrumb_last {
		margin: 0 .25em;
	}

	& span.breadcrumb_last {
		font-family: 'Roboto Medium';
		color: var(--Black);
	}

	&>span>span {
		&>a:first-child {
			background-image: url('../images/icon-home.svg');
			background-size: 1.5em;
			background-repeat: no-repeat;
			background-position: center;
			text-indent: -10000px;
			overflow: hidden;
			display: inline-block;
			height: 33px;
			width: 33px;
			vertical-align: bottom;
		}
	}
}