/*----------------------------------------------------------------*\
	NOTIFICATION BAR
\*----------------------------------------------------------------*/
.notification {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: var(--Red);
	padding: 20px;
	transition: all .35s linear;
	display: none;

	&.note-on {
		display: block;
	}

	& a {
		margin: 0 100px 0 0;
		display: block;
		color: white;
		font-family: 'Work Sans';
		font-size: 14px;
		line-height: 1.3;
		text-decoration: none;

		@media(--500vp) {
			margin: 0 100px 0 0;
		}
	}

	& button {
		background-color: transparent;
		border: 2px solid var(--White);
		padding: 4px 12px;
		margin: 0;
		position: absolute;
		font-weight: 600;
		letter-spacing: 1px;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);

		&:focus,
		&:hover {
			color: var(--Red);
			background-color: var(--White);
			border: 2px solid var(--White);
		}
	}
}