/*----------------------------------------------------------------*\
	PREVIEW BLOG/NEWS
\*----------------------------------------------------------------*/
.news-events,
.feed.feed-blog {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;
	position: relative;

	&>a {
		position: absolute;
		top: 8px;
		right: 0;
		font-family: 'Work Sans';
		font-size: 1em;
		line-height: 1.5;
		text-decoration: none;
		color: var(--Grey);

		&:hover,
		&:active,
		&:focus {
			& img {
				transform: translateX(.5em);
			}
		}

		& img {
			display: inline-block;
			height: .65em;
			margin-left: .25em;
			transition: all .25s linear;
		}
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}

section.cat-filter {
	max-width: var(--Width);
	width: 90%;
	margin: var(--SpacingLarge) auto;

	& form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: var(--Spacing);

		& label {
			width: 100%;

			&::before {
				display: none;
			}
		}

		& select {
			width: calc(100% - 100px);

			@media(--500vp) {
				width: calc(100% - 125px);
			}
		}
	}
}

article.preview-blog {
	width: 100%;
	margin: 0 0 var(--Spacing) 0;
	position: relative;

	@media(--500vp) {
		width: 48%;
	}

	@media(--800vp) {
		width: 32%;
	}

	& .icon {
		width: 100%;
		height: 100px;
		background-color: var(--GreyLight);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .15s linear;

		&.event {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin: 0 auto;
		}

		& img {
			max-height: 24px;
			width: auto;
		}
	}

	& p.date {
		margin: 0;
		margin-top: -.75em;
		color: var(--Blue);
		font-size: 20px;

		&+p {
			margin-top: .25em;
		}
	}

	& p span {
		color: var(--Blue);
		transition: all .15s linear;
	}

	& a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&:hover,
	&:focus,
	&:active {
		& .icon {
			background-color: var(--Blue);

			& img {
				filter: brightness(0) invert(1);
			}
		}

		& p span {
			color: var(--BlueDark)
		}
	}
}