/*----------------------------------------------------------------*\
	SECURITY JOBS
\*----------------------------------------------------------------*/
#gform_17 {
  & ul.gform_fields > li > label {
    margin: 1em 0 0.5em;
    font-size: 20px;
  }

  & #field_17_8 {
    & .ginput_container_radio {
      & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        & li {
          margin: 0.35em 0;
          width: 100%;

          @media(--800vp) {
            width: calc(50% - 0.35em);
          }
        }

        & input {
          display: none;
        }

        & label {
          position: relative;
          padding: 0.25em 0.5em;
          width: 100%;
          color: var(--Blue);
          text-align: center;
          font-size: 1.5em;
          transition: all 0.35s linear;

          &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: block;
            width: 0;
            background-color: var(--Blue);
            content: '';
            transition: all 0.35s linear;
            transform: translateY(0);
          }

          &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            display: block;
            background-color: var(--GreyLight);
            content: '';
            transition: all 0.35s linear;
          }

          &:hover,
          &:focus {
            color: var(--Blue);

            &:before {
              width: 0.5em;
            }
          }
        }

        & input:checked + label,
        & input:checked + span + label {
          color: var(--White);
          font-weight: bold;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
