/*----------------------------------------------------------------*\
	SHARE
\*----------------------------------------------------------------*/

.social-share {
	display: block;
	text-align: center;
	padding: 2em 0;
	@media(--800vp) {
		position: absolute !important;
		top: 0;
		left: 5vw;
		width: 50px;
		padding: 0;
	}
	& .button,
	& .button:first-of-type {
		padding: .5em;
		margin: 0;
	}
	& .button:first-of-type {
		@media(--800vp) {
			padding-top: var(--Spacing);
		}
	}
}